* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-grey-color: #536942;
  --light-gray-color2: rgba(83, 105, 65, 0.7);
  --background-color: rgb(243, 243, 243);
  --background-color2: #f6f8f5;

  --dm-sans-font-family:  "DM Sans", sans-serif;
  --forum-font-family: "Forum", serif
}

/* ====NAVBAR SECTION==== */
.navbar-section-div {
  background-color: transparent;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  align-items: center;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

.navlinks-div {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 55px;
}
.navlinks-div li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.navlinks-div li button {
  background-color: transparent;
  border: 1px solid white;
  padding: 15px 37px 15px 37px;
  border-radius: 6px;
  color: white;
}
.scroll-bar-icon {
  display: none;
}
/* ===NAVBAR ENDS HERE==== */

/* ====HERO SECTION STARTS HERE==== */
.hero-section {
  background-image: url("images/indexpic.jpeg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-content: center;
  justify-items: center;  
  color: white;
}
.hero-section h3 {
  font-size: 50px;
  font-weight: lighter;
}

.hero-section h1 {
  font-size: 120px;
  font-weight: lighter;
  margin-top: -20px;
  margin-bottom: 10px;
}
.hero-section p {
  font-size: 18px;
  width: 25%;
  text-align: center;
  margin-bottom: 30px;
}

.hero-section button {
  font-family: var(--font-family);
  font-size: 14px;
  border-style: none;
  background-color: rgb(255, 217, 54);
  color: rgb(83, 105, 66);
  padding: 15px 40px 15px 40px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.15s ease;
}
.hero-section button:hover{
  background-color: rgb(233, 166, 41);
}
/* =======HERO SECTION ENDS HERE========= */

/* ======IMAGE SECTION STARTS HERE======== */
.images-display{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.our-services {
  font-family: var(--dm-sans-font-family);
  font-size: 40px;
  color: rgb(61, 102, 61);
  margin-top: 60px; 
}

.div-divider {
  border: 2px solid rgb(255, 217, 54);
  max-width: 5.5rem;
  margin: 30px auto;
}

.images-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.images-section div {
  width: 30%;
}

.heading-title {
  font-size: 20px;
  color: rgb(71, 90, 56);
  font-family: var(--dm-sans-font-family);
}

.heading-description {
  font-size: 16px;
  color: rgb(83, 105, 66);
  font-family: var(--dm-sans-font-family);
  font-weight: 400;
  line-height: 28px;
  max-width: 80%;
}
/* =======IMAGE SECTION ENDS HERE======= */

/* =======QUOTE SECTION STARTS HERE======= */
.quote-section {
  background-color:var(--background-color2);
  height: 60vh;
}

.quote-section-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ===diplay flex does not work well with width so when you want to center align using width property use margin auto instead of justify content/align item with flex display=== */
.quote-section-image {
  margin: auto;
  opacity: 0.3;
  margin-top: 80px;
  padding-top: 70px;
  padding-bottom: 35px;
  width: 35px
}

.quote-section h2 {
  color: var(--light-grey-color);
  text-align: center;
  font-size: xx-large;
  font-family: var(--forum-font-family);
  font-weight: lighter;  
  padding-bottom: 30px;
  max-width: 50%;
  margin: auto;
}

.avatar-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar-img {
  margin: auto;
  width: 50px;
  height: 50px;  
}

.quote-section p {
  color: var(--light-grey-color);
  text-align: center;
  padding-top: 12px;
}

/* =====QUOTE SECTION ENDS HERE====== */

/* ======ABOUT US SECTION STARTS HERE====== */
.about-us-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-us-section div {
  width: 30%;
  margin: 70px 100px;
}

.about-us-heading {
  font-family: var(--font-family);
  font-size: 13px;
  color: var(--light-gray-color2);
  margin-bottom: 17px
}

.about-us-description h1 {
  font-size: 35px;
  font-family: "Forum", serif;
  color: var(--light-grey-color);
  font-weight: 500;
  margin-bottom: 35px;
}

.about-us-paragraph {
  font-size: 16px;
  font-family: var(--dm-sans-font-family);
  color: var(--light-gray-color2);
  line-height: 28px;
  margin-bottom: 35px;
}

.about-us-description button {
  padding: 15px 41px;
  border-radius: 4px;
  border: 1px solid var(--light-grey-color);
  font-size: 15px;
  font-family: var(--dm-sans-font-family);
  color: var(--light-grey-color);
  background: transparent;
  transition: color 0.15s border 0.15s ease;
}

.about-us-description button:hover {
  color: rgb(159, 206, 0);
  border: 1px solid rgb(159, 206, 0);
}

.about-us-section div img {
  max-width: 100%;
  height: 100%;
}
/* =======ABOUT US SECTION ENDS HERE========= */

/* =======QUESTION SECTION STARTS HERE========= */
.question-section {
  background-image: url(images/footer-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position:center;
  /* background-attachment: fixed; */
  background-size: cover;
  align-content: center;
  justify-items: center;
  width: 100%;
  height: 70vh;  
}
.question-div {
  text-align: center;
}
.question-div h1 {
  font-size: 55px;
  font-family: var(--dm-sans-font-family);
  color: var(--light-grey-color);
  font-weight: 400;
  margin-bottom: 25px;
}
.question-div p {
  font-family: var(--dm-sans-font-family);
  font-size: 16px;
  max-width: 55%;
  margin: auto;
  color: var(--light-gray-color2);
  line-height: 30px;
  margin-bottom: 35px;
}
.question-div button {
  font-size: 14px;
  font-family: var(--dm-sans-font-family);
  color: var(--light-grey-color);
  padding: 15px 40px;
  border-radius: 5px;
  border: none;
  background-color: rgb(255, 217, 54);
}
.question-div button:hover{
  background-color: rgb(233, 166, 41);
}

/* =====FOOTER SECTION STARTS HERE======== */
.footer-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
  height: 17vh;
}
.footer-section div {
  width: 20%
}
.navlink-footer {
  display: flex;
  gap: 20px;
  list-style: none;
}
.navlink-footer li a {
  font-family: var(--dm-sans-font-family);
  font-size: 16px;
  text-decoration: none;
  color: var(--light-grey-color);
}
.footer-section div img {
 max-width: 60px;
 margin-left: 100px;
}
.footer-section div p {
  font-family: var(--dm-sans-font-family);
  font-size: 16px;
  color: var(--light-grey-color);
}
/* ======FOOTER SECTION ENDS HERE======== */


/* =====MEDIA QUERY STARTS HERE======== */
@media (max-width:1224px){
  .images-section div {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 33%;
  }
  .images-section div img {
    width: 80%
  }
  .about-us-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .about-us-section div {
    width: 45%;
    margin: 70px 0;
  } 
  .about-us-description h1 {
    font-size: 32px;
  }  
}


@media (max-width:834px){
  .navlinks-div {
    display: none;
  }
  .scroll-bar-icon {
    display:block;
    color: white;
  }
  .images-section {
    margin-bottom: -70px;
  }
  .images-section div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .images-section div img{
    width: 92%;
  }
  .heading-title{
    position: relative;
    right: 150px;
    margin-top: 20px;
  }
  .heading-description {
    margin-bottom: 50px;
    position: relative;
    right: 30px;
  }
  .quote-section{
    height: 55vh;
  }
  .quote-section h2 {
    font-size: 25px;
    max-width: 100%;
    align-items: center;
  }
  .about-us-section div {
    width: 100%;
    margin: 70px 20px;
    height: 13vh;
  }
  .about-us-section div img {
    display: none;
  } 
  .about-us-description h1 {
    font-size: 30px;
  } 
  .footer-section div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  } 
  .navlink-footer{
    flex-direction: column;
  }
  .footer-section div img {
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
  }
  .footer-section div p {
    margin-top: -90px;
  }
}


@media (max-width:768px){
  
}


@media (max-width:480px){
  .hero-section p {
    width: 50%
  }
  .quote-section {
    height: 100%;
    padding-bottom: 10px;
  }
  .quote-section h2 {
    font-size: 22px;
    max-width: 95%;
    font-weight: lighter;
    line-height: 35px;
  }
  .about-us-section div img {
    display: none;
  }  
  .about-us-section div {
    width: 100%;
    height: 30vh;
    margin: 60px 30px;
  }
  .about-us-description h1 {
    font-size: 30px;
  }
  .question-div p {
    max-width: 80%;
  }
}